/**********
 * Colors *
 **********/

@define-color bg #212121;
@define-color fg #fafafa;
@define-color base #757575;
@define-color text alpha(#fff, 1.0);
@define-color icons alpha(#fff, 1.0); /*icons & secondary text*/
@define-color header #212121;
@define-color header_fg #fff;
@define-color primary #424242;
@define-color selected #40c4ff;
@define-color selected_fg #fff;
@define-color borders (#fff, 0.12); /*dividers & borders*/

/*insentive & backdrop*/

@define-color text_insentive alpha(#000, 0.26);
@define-color icons_insentive alpha(#000, 0.26);
@define-color borders_insentive alpha(#000, 0.26);

/* misc colors used by gtk+ */

@define-color warning_fg_color #fefefe;
@define-color warning_bg_color #fa993e;
@define-color question_fg_color #fefefe;
@define-color question_bg_color #5160d2;
@define-color error_fg_color #fefefe;
@define-color error_bg_color #fa4a3e;
@define-color link #df253f;
@define-color success #4CAF50;
@define-color warning #FF9800;
@define-color error #F44336;

/*Imports*/

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("gtk-apps.css");
@import url("window-controls.css");
