/************
 * Checkbox *
 ************/

.check,
.radio,
.check:insensitive,
.radio:insensitive {
    border-style: none;
    background-color: transparent;
}

GtkCheckButton:hover,
GtkCheckButton:checked:hover,
GtkCheckButton:selected,
GtkCheckButton:selected:focus {
    background-color: transparent;
}

.check {
    -gtk-icon-source: url("assets/checkbox-unchecked.svg");
}

.check:insensitive {
    -gtk-icon-source: url("assets/checkbox-unchecked-insensitive.svg");
}

.check:checked {
    -gtk-icon-source: url("assets/checkbox-checked.svg");
}

.check:checked:insensitive {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive.svg");
}
/*********
 * Radio *
 *********/

.radio {
    -gtk-icon-source: url("assets/radio-unselected.svg");
}

.radio:insensitive {
    -gtk-icon-source: url("assets/radio-unselected-insensitive.svg");
}

.radio:checked {
    -gtk-icon-source: url("assets/radio-selected.svg");
}

.radio:active:insensitive {
    -gtk-icon-source: url("assets/radio-selected-insensitive.svg");
}

/**********
 * Switch *
 **********/

GtkSwitch.trough {
    background-image: url("assets/switch-off.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 center;
    border-color: transparent;
    border-image: none;
    border-style: none;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}

GtkSwitch.trough:active {
    background-image: url("assets/switch-on.svg");
    background-color: transparent;
}

GtkSwitch.slider {
    background-image: url("assets/switch-slider-off.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-color: transparent;
}

GtkSwitch.slider:active {
    background-image: url("assets/switch-slider-on.svg");
}
