/************
 * Checkbox *
 ************/
.radio,
.check {
    background-color: transparent;
}

.check,
.check row:selected,
.check row:selected:focus {
    background-image: url("assets/checkbox-unchecked.svg");
}

.check:active,
.check:hover:active,
.check row:selected:active,
.check row:selected:focus:active {
    background-image: url("assets/checkbox-checked.svg");
}

/*Gnome Control Center*/
CcWindow .check:active,
CcWindow .check:checked,
CcWindow .check row:selected:active,
CcWindow .check row:selected:focus:active {
    -gtk-icon-source: url("assets/checkbox-checked-teal.svg"); /*3.14*/
    background-image: url("assets/checkbox-checked-teal.svg");
}

/**********
 * Switch *
 **********/

GtkSwitch.trough {
    background-image: url("assets/switch-off.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 center;
    border-color: transparent;
    border-image: none;
    border-style: none;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}

GtkSwitch.trough:active {
    background-image: url("assets/switch-on.svg");
    background-color: transparent;
}

GtkSwitch.slider {
    background-image: url("assets/switch-slider-off.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
    background-color: transparent;
}

GtkSwitch.slider:active {
    background-image: url("assets/switch-slider-on.svg");
}

/*Gnome Control Center*/
CcWindow GtkSwitch.trough:active {
    background-image: url("assets/switch-on-teal.svg");
    background-color: transparent;
}

CcWindow GtkSwitch.slider:active {
    background-image: url("assets/switch-slider-on-teal.svg");
}
