/***********
 * Journal *
 ***********/

EvolveJournalEvolveWindow .titlebar {
    background-color: @dark_blue;
}

EvolveJournalEvolveWindow .notebook.header,
EvolveJournalEvolveWindow .notebook tab {
    background-color: @mid_blue;
}

EvolveJournalEvolveWindow .notebook.header.top,
EvolveJournalEvolveWindow .notebook tab.top {
    border-bottom: 4px solid @dark_blue;
}

EvolveJournalEvolveWindow .notebook tab.top:active {
    border-bottom-color: @select_blue;
}
