/**********
 * Header *
 **********/

GeditWindow .titlebar,
GeditWindow .header-bar {
    background-color: @dark_blue;
}

GeditWindow .titlebar .button.image-button:hover,
GeditWindow .titlebar .button.text-button:hover,
GeditWindow .titlebar .button.image-button:active:hover,
GeditWindow .titlebar .button.text-button:active:hover {
    color: @select_blue;
}

/************
 * Notebook *
 ************/

GeditWindow .notebook.header,
GeditWindow .notebook tab {
    background-color: @mid_blue;
}

GeditWindow .notebook tab.top {
    border-color: @dark_blue;
}

GeditWindow .notebook tab.top:active {
    border-color: @select_blue;
}

GeditWindow.background {
    background-color: @base;
}
