/**********
 * Screen *
 **********/

TerminalScreen,
VteTerminal {
    background-color: @header;
    color: @header_fg;
}

TerminalWindow .scrollbars-junction,
TerminalWindow .scrollbar.trough {
    background-color: @header;
    border-color: @header;
}

TerminalWindow .scrollbar.slider {
    background-color:@primary;
}
