/***************
 * Base States *
 ***************/
.background {
    background-color: @bg;
    color: @fg;
}

.background.client-decorated {
    background-color: transparent;
}

.background.window-content {
    background-color: @bg;
}

GtkClutterOffscreen {
    background-color: @bg;
    color: @bg;
}

*:selected,
*:selected:focus {
    background-color: @selected;
    color: @selected_fg;
}

*:active {
    background-color: @bg;
}

*:insensitive,
*:insensitive:insensitive {
    color: mix(@fg, @bg, 0.5);
}

/* apply effects to insensitive and prelit images */
*:insensitive {
    -gtk-image-effect: dim;
}

*:hover {
    -gtk-image-effect: highlight;
}

.gtkstyle-fallback {
    background-color: @bg;
    color: @fg;
}

.gtkstyle-fallback:prelight {
    background-color: shade(@bg, 1.1);
    color: @fg;
}

.gtkstyle-fallback:active {
    background-color: shade(@bg, 0.9);
    color: @fg;
}

.gtkstyle-fallback:selected {
    background-color: @selected;
    color: @selected_fg;
}

.gtkstyle-fallback:selected {
    background-color: @bg;
    color: @selected;
}


