/**********
 * Button *
 **********/

.button {
    padding: 4px 5px;
    background-image: none;
    background-color: @borders;
    color: @icons;
    font: bold;
}

.button:hover {
    color: @selected;
}

