/************
 * Cell Row *
 ************/

.cell {
    color: @fg;
    border-width: 0px;
}

.cell:selected,
.cell:selected:focus {
    background-color: @selected;
    color: @selected_fg;
}

.row:selected,
.row:selected:focus {
    border: 0 solid shade(@selected, 0.9);
    background-color: @selected;
    background-image: none;
    color: @selected_fg;

    -GtkWidget-focus-padding: 1;
    -GtkWidget-focus-line-width: 0;
}
