/************
 * Combobox *
 ************/

GtkComboBox {
    color: @fg;
    border: 1px solid @borders;
}

GtkComboBox .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

GtkComboBox .button {
    background-color: @borders;
}

GtkComboBox .arrow {
    color: @fg;
}

GtkComboBox GtkToggleButton {
    border: 1px solid @borders;
}

GtkComboBox .entry,
GtkComboBox .entry:active,
GtkComboBox .entry:focus {
    border: 1px solid @borders;
    border-right: 0px;
}
