/***********
 * Dialogs *
 ***********/

GtkDialog .titlebar,
GtkDialog .titlebar:insensitive {
    background-color: @bg;
    color: @text;
}

GtkDialog .titlebar .title {
    color: @text;
}

GtkDialog .titlebar .button {
    color: @icons;
}

GtkDialog .titlebar .button:hover {
    transition: 400ms;
    color: @selected;
}
