/*********
 * Entry *
 *********/

.entry {
    background: @base;
    color: @text;
    padding: 6px;
}

.entry:active,
.entry:focus {
    color: @text;
}

.entry:selected,
.entry:selected:focus {
    background-color: @selected;
    color: @selected_fg;
}
