/**************
 * Header-Bar *
 **************/

.header-bar,
.header-bar:insensitive {
    border-width: 0;
    background-color: @header;
    padding: 6px 6px;
}

.header-bar .button.text-button,
.header-bar .button.image-button {
    padding: 6px 6px;
}

.header-bar .title {
    font: Bold 10;
    color: white;
}

.header-bar .subtitle {
    font: 9;
    color: white;
}

.header-bar .separator {
    background: none;
    color: transparent;
}
