/*************
 * List Rows *
 *************/

.list-row {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 0px;
    border:none;
    background-image: none;
    background-color: @bg;
    color: @text;
}

.list-row GtkImage,
.list-row:focus GtkImage,
.list-row:hover GtkImage {
    color: @icons;
}

.list-row GtkLabel,
.list-row:focus GtkLabel,
.list-row:hover GtkLabel {
    color: @text;
}
