/********
 * Menu *
 ********/

.menu {
    background-color: @base;
    color: @text;
}

.menu .menuitem {
    padding: 3px 8px;
}

.menu .menuitem:hover {
    background-color: @base;
    color: @selected;
}

/***********
 * Menubar *
 ***********/

.menubar {
    background-color: @primary;
    color: @header_fg;
}

.menubar .menuitem {
    padding: 2px 8px;
}

.menubar .menuitem:hover {
    background-color: @base;
    color: @selected;
}
