/************
 * Popovers *
 ************/

GtkPopover {
    margin: 10px;
    padding: 2px;
    background-color: @bg;
    background-clip: border-box;
    box-shadow: 0 2px 3px alpha(black, 0.5);
    border: 1px solid alpha(black, 0.12);
    border-radius: 2px;
    color: @text;
}

GtkPopover.osd {
    box-shadow: 0 2px 7px 3px alpha(black, 0.5);
}

GtkPopover *:hover {
    -gtk-image-effect: none;
}

GtkPopover.osd > .toolbar .button {
    border-radius: 0;
    border-width: 0;
    background-image: none;
    background-color: transparent;
    color: @icons;
}

GtkPopover .button GtkLabel {
    color: @text;
}

GtkPopover .button:active GtkLabel,
GtkPopover .button:hover GtkLabel {
    color: @selected;
}

GtkPopover > .list,
GtkPopover > .view,
GtkPopover > .toolbar {
    background-color: transparent;
}

/* Images */
GtkPopover .button:focus GtkImage,
GtkPopover .button GtkImage {
    color: @icons;
}

GtkPopover GtkImage {
    color: @icons;
}

GtkPopover .button:active GtkImage {
    color: @selected;
}

GtkPopover .button:hover GtkImage {
    color: @selected;
}

GtkPopover .button:insensitive GtkImage {
    color: @icons;
}

GtkPopover .button:insensitive:backdrop GtkImage {
    color: @icons;
}

GtkPopover .separator {
    color: @borders;
}
