GtkPopover {
    margin: 10px;
    padding: 2px;
    background-color: @bg;
    background-clip: border-box;
    box-shadow: 0 2px 3px alpha(black, 0.5);
    border: 1px solid alpha(black, 0.12);
    border-radius: 2px;
    color: @text;
}

GtkPopover.osd {
    box-shadow: 0 2px 7px 3px alpha(black, 0.5);
}

GtkPopover *:hover {
    -gtk-image-effect: none;
}

GtkPopover .separator {
    color: @borders;
}

GtkPopover > .list,
GtkPopover > .view,
GtkPopover > .toolbar {
    background-color: transparent;
}

GtkPopover.osd > .toolbar .button {
    border-radius: 0;
    border-width: 0;
    background-image: none;
    background-color: transparent;
    color: @icons;
}

GtkPopover GtkImage {
    color: @icons;
}

GtkPopover .button {
    background-color: transparent;
    color: @icons;
    border: none;
}

GtkPopover .button:active,
GtkPopover .button:hover {
    color: @selected;
}

GtkModelButton.button,
GtkModelButton.button:active,
GtkModelButton.button:insensitive,
GtkModelButton.button:active:insensitive {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @fg;
}

GtkModelButton.button:active:hover,
GtkModelButton.button:hover,
GtkModelButton.button:selected {
    background-color: transparent;
    background-image: none;
    color: @selected;
}

GtkPopover .button:hover:prelight GtkImage,
GtkPopover .button:hover:prelight GtkLabel {
    color: @selected;
}
