/*************
 * Scrollbar *
 *************/

.scrollbar {
    background-image: none;
    background-color: transparent;
    border: 1px solid transparent;
    -GtkRange-trough-border: 2;
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    -GtkRange-slider-width: 6;
    -GtkScrollbar-min-slider-length: 20;

    -GtkRange-stepper-spacing: 0;
    -GtkRange-trough-under-steppers: 1;
}

.scrollbars-junction,
.scrollbar.trough {
    background-color: transparent;

}

.scrollbar.slider {
    background-color: alpha(@fg, 0.3);
    border-radius: 5px;
}

.scrollbar.slider:hover,
.scrollbar.slider:active,
.scrollbar.slider:prelight:active {
    background-color: @selected;
    background-image: none;
}
