/**********
* Sidebar *
***********/

.sidebar,
.sidebar .view,
.sidebar GtkScrolledWindow,
.source-list,
.source-list.view {
    background-color: @primary;
    font-weight: bold;
    color: @header_fg;
}

.sidebar {
    box-shadow: inset 0px 6px 2px -3px rgba(0,0,0,0.2);
    padding-top: 6px;
    border-width: 0;
}

.sidebar .cell {
    color: @header_fg;
}

.sidebar .image:selected:focus,
.sidebar .image:selected:hover {
    background-color: @selected;
    color: @selected_fg;
}

.sidebar .cell:selected,
.sidebar .cell:selected:focus {
    background-color: @selected;
    color: @selected_fg;
}

.sidebar .list-row {
    background-color: @primary;
    color: @header_fg;
}

.sidebar .list-row:hover,
.sidebar .list-row:focus {
    background-color: @selected;
    color: @selected_fg;
}

.sidebar .list-row GtkLabel,
.sidebar .list-row GtkImage {
    color: @header_fg;
}
