/**************
 * spinbutton *
 **************/

.spinbutton.entry {
    border: 1px solid @borders;
}

.spinbutton.entry:insensitive {
    border-color: @borders;
}

.spinbutton .button:hover,
.spinbutton .button:active:hover,
.spinbutton .button:active {
    color: @selected;
}

.spinbutton .button:last-child {
    border-left: 0px;
}
